#keyboard_shortcuts_help {
	display: none;
}

#keyboard_shortcuts_help div {
	float: left;
	width: 350px;
}

#keyboard_shortcuts_help div div.shortcut_key {
	width: 30px;
	float: left;
	font-weight: bold;
	text-align: center;
}

#keyboard_shortcuts_title {
  margin-left: 12px;
}

#keyboard_shortcuts_link {
  width: 31px !important;
}

/* icon */
#sections-table #rcmrowkeyboard_shortcuts td.section {
    background-image: url('/plugins/keyboard_shortcuts/skins/larry/images/icon.png');
    background-position: 5px 2px;
}

#sections-table #rcmrowkeyboard_shortcuts.selected td.section {
    background-image: url('/plugins/keyboard_shortcuts/skins/larry/images/icon.png');
    background-position: 5px -23px;
}

.rcmfd_ks_input {
    width: 25px;
    text-align: center;
}